:root{
	--theme-color: #0a0a23;
	--yellow-gold: #ffbf00;
	--gray-00: #fff;
	--gray-05: #f5f6f7;
	--gray-10: #dfdfe2;
	--gray-15: #d0d0d5;
	--gray-45: #858591;
	--gray-75: #3b3b4f;
	--gray-80: #2a2a40;
	--gray-85: #1b1b32;
	--gray-90: #0a0a23;
	--purple-light: #dbb8ff;
	--purple-dark: #5a01a7;
	--yellow-light: #ffc300;
	--yellow-dark: #4d3800;
	--blue-light: #99c9ff;
	--blue-light-translucent: rgba(153,201,255,0.3);
	--blue-dark: #002ead;
	--blue-dark-translucent: rgba(0,46,173,0.3);
	--green-light: #acd157;
	--blue-mid: #198eee;
	--purple-mid: #9400d3;
}

a{

	text-decoration: none !important;

}

*{

	transition: all 1.5s ease;

}	

body{

	background : rgb(11,7,37);

	font-family: sans-serif;

}

nav{

	position: absolute;

	left: 0px;

	top: 0px;

	background: rgb(60, 57 , 81);

	width: 100%;

	height: 45px;

	position: fixed;

	z-index: 500;

}

li{

	display: inline-block;

	padding-left: 10px;

	color: rgb(195, 195,201);

}

li:hover{

	color: rgb(28,25,52);

}

#gitlink{

	text-decoration: none !important;

}

#Instuctions{

	background : rgb(28, 25 , 52);

	color: rgb(195, 195,201);

	position: absolute;

	top: 15%;

	left:0%;

	font-size: 130%;

	filter: drop-Shadow(2px 4px 8px black);

	border: 2px rgb(195, 195,201) solid;

}

#Contactbtn{

	background : var(--yellow-light);

	border: 3px var(--yellow-gold) solid;

	height: 45px;

	width: 240px;

	color: white;

	position: absolute;

	left: 50%;

	top: 50%;

	font-size:120%;

	transform  : translate(-50%,-50%);

}

#Contactbtn:hover{

	color: var(--gray-80);

}

#menuX{

	background: var(--gray-15);

	visibility: hidden;

}

#phone_ms,#phone_ss{

	font-size: 150%;

	text-decoration: none !important;

	color: var(--gray-15);

	position: relative;

	top: 150px;

	filter: drop-shadow(2px 4px 8px var(--gray-80));

}

#phone_ms:hover,#phone_ss:hover{

	color: var(--blue-dark-translucent);

}

#file{

	background: var(--gray-75);

	border-radius: 50px;

	filter: drop-shadow(2px 4px 8px black);

}

#file:hover{

	background:var(--yellow-gold);

}
	
@media(max-width: 900px){

	#file{

		height: 180px;

		width: 180px;

	}

	#Contactbtn{

		top: 95%;

		transform: translate(-50% , -25%);

	}

	nav{

		visibility: hidden;

	}

	#menuX{

		visibility: visible;

		filter: drop-shadow(2px 4px 8px black);

		position: fixed;

		z-index: 500;

	}

	#menuX:hover{

		background: var(--gray-45);

	}

}